@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .bg-gradient-radial {
    background: radial-gradient(232px circle at var(--mouse-x) var(--mouse-y),
        /* Adjust the displacement here */
        var(--tw-gradient-stops));
  }
}

@keyframes background-pan {
  0% {
    background-position: 0% center;
  }

  100% {
    background-position: -200% center;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes scale {

  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

:root {
  --purple: rgb(123, 31, 162);
  --pink: rgb(244, 143, 183);
  --violet: rgb(103, 58, 255);

}

.magic-place {
  font-size: clamp(1.5rem, 2.5vw, 2.1rem);

}

.magical-sparkie-icon>svg {
  animation: rotate 2000ms linear infinite;
}


h1>.magic>.magical-sparkie-icon {
  animation: scale 1200ms ease forwards;
}

.magical-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple));
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  font-size: xx-large;
}

.App {
  text-align: center;
}

.ui.main.container {
  margin-top: 5.5em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.twitch-card::before {
  background: linear-gradient(130deg,
      transparent 0% 33%,
      rgb(98, 0, 234) 66%,
      rgb(236, 64, 122) 83.5%,
      rgb(253, 216, 53) 100%);

}

.bg-pattern {
  background-image: radial-gradient(rgba(2555, 255, 255, 0.1) 9%,
      transparent 9%);
  background-position: 0%;
  background-size: 12vmin 12vmin;
}

.menu-item {
  font-family: "Ibarra Real Nova", serif;
}

.twitch-title,
.twitch-subtitle {
  font-family: 'Anek Latin', sans-serif !important;
}

.twitch-card:hover>.twitch-card-content>.twitch-subtitle>.twitch-word {
  opacity: 1 !important;
  transform: translateY(0%) !important;
  transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90) !important;
}



.twitch-card-content {
  background: radial-gradient(rgba(0, 0, 0, 0.2) 8%,
      transparent 8%);
  background-position: 0% 0%;
  background-size: 3.8vmin 3.8vmin;
}

.twitch-card-content:hover {
  background: radial-gradient(rgba(255, 255, 255, 0.2) 8%,
      transparent 8%);
  background-position: 0% 0%;
  background-size: 3.8vmin 3.8vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.hover-card::before {
  background: radial-gradient(800px circle at 1000px 1000px,
      rgba(255, 255, 255, 0.06),
      tranparent 40%);
}

a {
  color: #a5673f !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}